/* variables: colors */

:root {
    --main: #FEFEFE,
    --background: #F8F8F8,
    --schedule_background: #FEFEFE,
    --text: #3E3D40,
    --light_text: #6D6C7C,
    --modifier1: #735BF2,
    --modifier2: #8EDEF8,
    --modifier3: #FEDFA4,
    --modifier1_light: #EEECFA,
    --modifier2_light: #E5F9FD,
    --modifier3_light: #FEF9EF,   
}

/* main css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    place-items: center;
    font-family: var(--font-family);
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    overflow: hidden;
}
.contianer {
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 100%;
}