/* variables: colors */

:root {
    --main: #FEFEFE;
    --background: #F8F8F8;
    --schedule_background: #FEFEFE;
    --text: #3E3D40;
    --light_text: #6D6C7C;
    --modifier1: #735BF2;
    --modifier2: #8EDEF8;
    --modifier3: #FEDFA4;
    --modifier1_light: #EEECFA;
    --modifier2_light: #E5F9FD;
    --modifier3_light: #FEF9EF;
    --icon-hover: #2196F3;
    --font-family: consolas;
}